*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bakerHome{
    background-color: cornsilk ;
}
.bakerHeader{
    padding-left: 1.5rem;
    padding-top:0.5rem;
    background: darkblue;
    color: cornsilk;
    height: 3rem;
}
.bakerHome{
   height:100vh;
}