*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url('/src/img/Baker/Bproduct.png');
}
.bprofile{
    margin-left: 17rem;
}
.bphoto{
    padding-top: 3rem;
    position: relative;
    top:2rem;
    width: 15rem;
    height: 15rem;
    background-color: #FF6B6B;
    border-radius: 15rem;
}
.logoutbtn{
    position: relative;
    left: 55rem;
    bottom: 13rem;
    border-radius: 8px;
    background-color: #B61919;
    color: #FDD2BF;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 1rem;
    text-align: center;  
    width: 6rem;
    padding: px 1px;
    height: 2.5rem;
}