*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background-image: url('/src/img/Baker/Bproduct.png');
}
.orderHisHead{
    margin-left: 15rem;
    padding-top: 1rem;
    color: #012443;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.ordHisList{
    display: flex;
    flex-direction: column;
}
.ordHisBox{
    margin-bottom: 2rem;
    margin-left: 15rem;
    width: 40rem;
    height: fit-content;
    padding: 1rem;
    background-color: #FF6B6B;
    border-radius: 9px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.ordHisdVal{
    color: #FDD2BF;
    font-size: 1.1rem;
    margin-bottom: 0.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}