*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bakerProductList{
    display: flex;
    flex-direction: row;
}
.categorymain{
    display: grid;
}
.bakerAddProduct{
    margin-left: 11rem;
    margin-top: 2rem;
    height: 12rem;
    width: 12rem;
    border-radius: 5px;
}
.addCategory h4{
    margin-left: 11.5rem;
    margin-top: 0.4rem;
}