*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.sign_main{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.sign_left{
    background-image: url('../img/signIn_Up/leftSign.jpg');
    width: fit-content;
    height: 100vh;
    width: 40%;
    background-size: cover;
}
.sign_right{
    width: 60%;
}
.switchSign{
    color: #012443;
    float: right;
    margin-top: 2rems;
    margin-right: 3rem;
}
.SignSpan{
    text-decoration: none;
    color: #B61919;
}
.headdTag{
    margin-left: 31%;
    font-weight: 500;
    color: #012443;
    margin-top: 7rem;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inLabel{
    color: #B61919;
    margin-bottom: 0.1rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inInp{
    width: 55%;
    padding: 1rem;
    border-radius: 15px;
    border: none;
    height: 2.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;    
}
.inRow{
    display: inline-flex;
    flex-wrap: wrap;
    align-content:space-between;
}
.inCol{
    display: flex;
    flex-direction: column;
    padding-left: 15rem ;
    margin-top: 2rem;
}
.fpswd{
    margin-top: 0.4rem;
    margin-left:51%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #012443;
}
.sBtn{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:"#FDD2BF";
    background-color: #B61919;
    color: #FDD2BF;
    margin-top: 2rem;
    padding: 0.5rem 1.7rem;
    border-radius: 5px;
    border: none;
    margin-left: 32%;
}
/*Sign up*/
.headdTagUp{
    margin-left: 31%;
    font-weight: 500;   
    color: #012443;
    margin-top: 3rem;
    font-size: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.upInp{
    width: 160%;
    padding: 1rem;
    border-radius: 15px;
    border: none;
    height: 2.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;    
}
.upInpR{
    width: 60%;
    padding: 1rem;
    border-radius: 15px;
    border: none;
    height: 2.5rem;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;      
}
.upRow{
    display: flex;
    flex-direction: row;
    padding-left: 15rem ;
}
.upCol{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.checkSignUp{
    margin-right: 1rem;
}
