*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    list-style: none;
}
.landingHome{   
    /* background-image: url("/src/img/Home/bgHome.jpg"); */
    background-color: navy;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
.serachAboveTagline{
    font-size: 2rem;
    color: #F85F73;   
    margin-left: 21rem;
    margin-top: 4rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.HomeTag{
    position: absolute;
    left: 28rem;
    top: 15rem;
    color: white;
    font-size: 8rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 9px;
}
/*Moving Images*/
.imges{
    height: 100vh;
    width: 98vw;
    display: flex;
}
.homeimg1{
    position: relative;
    width: 13rem;
    bottom: 8rem;
    left: 60rem;
}
.homeimg2{
    width: 13rem;
    position: relative;
    right: 0rem;
}
/*Second Page*/
.hsecond{
    display: flex;
}
.h-leftBox{
    width: 50%;
}
.h-rightBox{
    width: 50%;

}
.h-leftOuter{
    position: absolute;
    top: 20%;
    left: 8%;
    background-color: oldlace;
    width: 38%;
    height: 60%;
    border-radius: 18px;
    transform: rotate(10deg); 
}
.h-leftInner{
    position: absolute;
    border-radius: 18px;
    top:20%;
    left: 8%;
    background-color: #F85F73;
    color: #fff;
    text-align: center;
    width: 38%;
    height: 60%;
}
.h-rightOuter{
    position: absolute;
    top: 20%;
    right: 8%;
    background-color: oldlace;
    width: 38%;
    height: 60%;
    border-radius: 18px;
    transform: rotate(10deg); 
}
.h-rightInner{
    position: absolute;
    border-radius: 18px;
    top:20%;
    right: 8%;
    background-color: #F85F73;
    color: #fff;
    text-align: center;
    width: 38%;
    height: 60%;
}
.h-leftBox,.h-rightBox h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.hdetail{
    display: flex;
    margin-top: 1rem;
    justify-content: space-around;
    align-items:center
}
.hmoredetail{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.hno{
    border: 1px solid white;
    border-radius: 5rem;
    width: 30px;
    margin-left: 2rem;
}
.hmoredetail p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 1rem;
    color: #283C63;
    font-weight:600;
}









/*Nav Responsive*/


/*Second Responsive*/


/* @media only screen and (max-width: 768px){
    .hleft, .hright{
        position: relative;
    }
    .hdetail{
        display: flex;
        flex-direction: column;
    }
    .hmoredetail img{
        width: 70px;
    }
    .hmoredetail{
        margin-top: 2rem;
    }
    .hno{
        align-items: center;
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .hsecond{
        display: flex;
        background-color: #FBE8D3;
        flex-direction: row;
    }
    .hleft,.hright{
        position: relative;
    }
    .hdetail{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .hmoredetail img{
        width: 60px;
    }
    
} */