*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    list-style: none;
}
.App{   
    background-image: url("/src/img/Home/bgHome.jpg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}
/*Moving Images*/
.imges{
    margin-top: 50vh;
    display: flex;
    margin-left: 44rem;
}
.hand1{
    position: relative;
    bottom: 6rem;
    width: 13rem;
    right: 3rem;
}
.hand2{
    width: 13rem;
    position: relative;
    bottom: 7.3rem;
}
/*second*/
.secondpg{
    display: flex;
    height: 100vh;
    justify-content: center;
}
.left{
    width: 100%;
    background-color: #F875AA;
}
.card-left{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 30rem;
}
.card-right{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    height: 30rem;
}
.right{
    z-index: 1;
    width: 100%;
    background-color: #95E1D3;
}
.content{
    padding:0.7rem;
    margin: 3rem 5rem;
    background-color:#fff;
    height: 50%;
    text-align: center;
    border-radius: 1rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
.points{
    margin: 2rem 7rem;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', Verdana, sans-serif;
}
.points ol li{
    margin-top: 0.8rem;
    line-height: 1rem;
}
.hcardt{
    color: #2978B5;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
ol li{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #F14668;
}
/* .cardImg{
    height: 40%;
} */
/*Nav Responsive*/
