*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.adminHome{
    background-color: antiquewhite;
    height: 100vh;
}
.contactHead{
    text-align: center;
    padding: 1rem 0;
    font-size: 2rem;
}
.noDataContact{
    font-size: 1rem;
    text-align: center;
    margin-top: 2rem;
}
.adminOuterDiv{
    width:50%;
    margin: auto;
    height: fit-content;
    background-color: aquamarine;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 1rem;
    display: grid;
}
.contactInfoHead{
    font-size: 1.3rem;
    font-weight: 600;
}