/*Footer*/
.footerBg{
    background-image: url('/src/img/Home/footerBg.png');
    background-repeat: repeat;
    font-family: 'Josefin Sans', sans-serif; 
}
.foSection{
    border-bottom-color: violet;
}
.fhead{
    color: #B61919; 
}
.flink a{
    color: #012443;
}
.flink{
    color: #012443;
}