/*Footer*/
.footerBg{
    background-color: #283C63;
    font-family: 'Josefin Sans', sans-serif; 
}
.fhead{
    color: #F85F73;
    
}
.flink a{
    color: #FBE8D3;
}
.flink{
    color: #FBE8D3;
}