/* Nav */
nav{
    font-family: 'Quicksand', sans-serif;
    background-color: transparent;
    height: 60px;
    width: 100%;
}
label.logo{
    color:#012443;
    font-size: 2rem;
    line-height: 4rem;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 2rem;
}
nav ul li{
    display: inline-block;
    line-height: 4rem;
    margin: 0 0.5rem;
}
.Navsignin{
    text-decoration: none;
    width: 30px;
    height: fit-content;
    color: #FDD2BF;
    background-color: #B61919;
    font-size: 1rem;
    border-radius: 9px;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.Navsignup{
    text-decoration: none;
    color: #012443;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
} 
a.active,.Navsignup:hover{
    transition: 0.5s;
    color: #B61919;
} 
.Navsignin:hover{
    color: #B61919;
    background-color: #FDD2BF;
}

/*Responsiveness*/
